In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns

In [3]:
df = pd.read_csv("financial_loan.csv")

In [4]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,...,C1,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,...,C1,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,...,D5,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,...,F3,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679

In [5]:
df.shape

(38576, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  object
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  object
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  object
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: float64(4), int64(5), object(15)
memory usage: 7.1+ MB

In [7]:
df.isnull().sum()

id                          0
address_state               0
application_type            0
emp_length                  0
emp_title                1438
grade                       0
home_ownership              0
issue_date                  0
last_credit_pull_date       0
last_payment_date           0
loan_status                 0
next_payment_date           0
member_id                   0
purpose                     0
sub_grade                   0
term                        0
verification_status         0
annual_income               0
dti                         0
installment                 0
int_rate                    0
loan_amount                 0
total_acc                   0
total_payment               0
dtype: int64

emp_title columns has 1438 missing values

In [9]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment'],
      dtype='object')

In [11]:
# id columns has no issuse
df["id"].unique()

array([1077430, 1072053, 1069243, ...,  875376,  972997,  682952],
      dtype=int64)

In [12]:
# address_state columns has no issuse
df["address_state"].unique()

array(['GA', 'CA', 'TX', 'IL', 'PA', 'FL', 'MI', 'RI', 'NY', 'MD', 'WI',
       'NV', 'UT', 'WA', 'NH', 'HI', 'MA', 'OK', 'NJ', 'OH', 'AZ', 'CT',
       'MN', 'CO', 'TN', 'VA', 'MO', 'DE', 'NM', 'LA', 'AR', 'KY', 'NC',
       'SC', 'WV', 'KS', 'WY', 'OR', 'AL', 'VT', 'MS', 'DC', 'MT', 'SD',
       'AK', 'IN', 'ME', 'ID', 'NE', 'IA'], dtype=object)

In [16]:
df["address_state"].nunique()

50

In [17]:
# application_type columns has no issuse
df["application_type"].unique()

array(['INDIVIDUAL'], dtype=object)

In [18]:
df["application_type"].nunique()

1

In [19]:
df["emp_length"].unique()

array(['< 1 year', '9 years', '4 years', '10+ years', '3 years',
       '5 years', '1 year', '6 years', '2 years', '7 years', '8 years'],
      dtype=object)

In [20]:
df["emp_length"].nunique()

11

In [27]:
# changed the value "< 1 year" to "1 year" and "10+ year to 10 year"
df["emp_length"] = df["emp_length"].replace('< 1 year','1 year')
df["emp_length"] = df["emp_length"].replace('10+ years','10 years')

In [28]:
df["emp_length"].unique()

array(['1 year', '9 years', '4 years', '10 years', '3 years', '5 years',
       '6 years', '2 years', '7 years', '8 years'], dtype=object)

In [29]:
df["emp_length"].nunique()

10

In [30]:
df["emp_length"].isnull().sum()

0

In [40]:
# added a new columns called "Loan_Tenure_years" which i have splited the values from "emp_length"
df["Loan_Tenure_years"] = df["emp_length"].apply(lambda x: x.split()[0]).astype(int)

In [41]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure,Loan_Tenure_years
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,1
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,9
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,4
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,1
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,...,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,1
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,...,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,8
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,...,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,5
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,...,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,5
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,...,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,4

In [42]:
df["Loan_Tenure_years"].isnull().sum()

0

In [43]:
df["Loan_Tenure_years"].unique()

array([ 1,  9,  4, 10,  3,  5,  6,  2,  7,  8])

In [45]:
df.drop(columns ="Loan_Tenure",inplace=True)

In [46]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment', 'Loan_Tenure_years'],
      dtype='object')

In [47]:
df['emp_title'].unique()

array(['Ryder', 'MKC Accounting', 'Chemat Technology Inc', ...,
       'Anaheim Regional Medical Center', 'Brooklyn Radiology',
       'Allen Edmonds'], dtype=object)

In [48]:
df['emp_title'].nunique()

28525

In [49]:
df['emp_title'].isnull().sum()

1438

In [53]:
df.dropna(inplace=True)

In [54]:
df.shape

(37138, 25)

In [55]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,...,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,...,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,...,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,...,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,...,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,...,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,...,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,...,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4

In [56]:
df['emp_title'].isnull().sum()

0

In [58]:
df['emp_title'].duplicated().sum()

8613

In [59]:
df['emp_title'].unique()

array(['Ryder', 'MKC Accounting', 'Chemat Technology Inc', ...,
       'Anaheim Regional Medical Center', 'Brooklyn Radiology',
       'Allen Edmonds'], dtype=object)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37138 entries, 0 to 38575
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     37138 non-null  int64
 1   address_state          37138 non-null  object
 2   application_type       37138 non-null  object
 3   emp_length             37138 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  37138 non-null  object
 6   home_ownership         37138 non-null  object
 7   issue_date             37138 non-null  object
 8   last_credit_pull_date  37138 non-null  object
 9   last_payment_date      37138 non-null  object
 10  loan_status            37138 non-null  object
 11  next_payment_date      37138 non-null  object
 12  member_id              37138 non-null  int64
 13  purpose                37138 non-null  object
 14  sub_grade              37138 non-null  object
 15  term                   37138 non-null  object
 16  verification_status    37138 non-null  object
 17  annual_income          37138 non-null  float64
 18  dti                    37138 non-null  float64
 19  installment            37138 non-null  float64
 20  int_rate               37138 non-null  float64
 21  loan_amount            37138 non-null  int64
 22  total_acc              37138 non-null  int64
 23  total_payment          37138 non-null  int64
 24  Loan_Tenure_years      37138 non-null  int32
dtypes: float64(4), int32(1), int64(5), object(15)
memory usage: 7.2+ MB

In [61]:
# "Grade" columns has no issuse
df["grade"].unique()

array(['C', 'E', 'B', 'A', 'D', 'F', 'G'], dtype=object)

In [63]:
df["grade"].isnull().sum()

0

In [64]:
# "Home_Ownership" has no issuse
df["home_ownership"].unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER', 'NONE'], dtype=object)

In [65]:
df[df["home_ownership"]=='NONE']

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years
7744,231321,VA,INDIVIDUAL,5 years,ups,A,NONE,08-01-2021,11-01-2021,11-02-2021,...,36 months,Not Verified,22200.0,0.0524,312.22,0.0775,10000,22,11240,5

In [66]:
df[df["home_ownership"]=='OTHER']

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years
273,366128,CA,INDIVIDUAL,5 years,Hacienda La Puente USD,A,OTHER,08-12-2021,09-02-2021,09-02-2021,...,36 months,Not Verified,55000.0,0.0676,127.79,0.0932,4000,22,4059,5
811,386587,NJ,INDIVIDUAL,1 year,Dept of Homeland Security,C,OTHER,09-04-2021,09-11-2021,09-06-2021,...,36 months,Verified,37800.0,0.1038,334.67,0.1253,10000,24,1098,1
1814,379227,CA,INDIVIDUAL,5 years,Entar.com,B,OTHER,09-02-2021,16-05-2021,10-09-2021,...,36 months,Not Verified,48000.0,0.0963,258.68,0.1189,7800,24,4670,5
2600,347390,TX,INDIVIDUAL,10 years,Self Employed,A,OTHER,08-05-2021,12-09-2021,11-05-2021,...,36 months,Not Verified,45000.0,0.1104,156.64,0.0832,7500,15,5639,10
2601,364148,CO,INDIVIDUAL,1 year,Colorado Mountain College,A,OTHER,08-11-2021,12-06-2021,10-08-2021,...,36 months,Not Verified,50000.0,0.0847,155.95,0.0768,5000,18,5483,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36598,392602,OH,INDIVIDUAL,4 years,Computer Task Group,A,OTHER,09-04-2021,12-04-2021,12-04-2021,...,36 months,Verified,112000.0,0.0043,287.53,0.0932,9000,25,10351,4
36599,396522,AZ,INDIVIDUAL,1 year,DollarServ Inc.,B,OTHER,09-05-2021,12-05-2021,12-05-2021,...,36 months,Verified,58000.0,0.0749,533.04,0.1221,16000,18,19189,1
36600,388005,FL,INDIVIDUAL,4 years,Nestle,B,OTHER,09-04-2021,09-11-2021,09-11-2021,...,36 months,Verified,85000.0,0.0261,530.63,0.1189,16000,18,17031,4
36601,376036,CA,INDIVIDUAL,1 year,HL Seafood,C,OTHER,09-02-2021,11-11-2021,11-11-2021,...,36 months,Verified,75000.0,0.2245,403.42,0.1284,12000,27,14498,1
38258,422880,MN,INDIVIDUAL,2 years,enterprise rent a car,B,OTHER,09-07-2021,12-10-2021,09-09-2021,...,36 months,Verified,37000.0,0.0736,165.07,0.1158,5000,4,5096,2

In [69]:
df["home_ownership"].mode()

0    RENT
Name: home_ownership, dtype: object

In [70]:
df["home_ownership"] = df["home_ownership"].replace('NONE','RENT')

In [71]:
df["home_ownership"].unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER'], dtype=object)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37138 entries, 0 to 38575
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     37138 non-null  int64
 1   address_state          37138 non-null  object
 2   application_type       37138 non-null  object
 3   emp_length             37138 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  37138 non-null  object
 6   home_ownership         37138 non-null  object
 7   issue_date             37138 non-null  object
 8   last_credit_pull_date  37138 non-null  object
 9   last_payment_date      37138 non-null  object
 10  loan_status            37138 non-null  object
 11  next_payment_date      37138 non-null  object
 12  member_id              37138 non-null  int64
 13  purpose                37138 non-null  object
 14  sub_grade              37138 non-null  object
 15  term                   37138 non-null  object
 16  verification_status    37138 non-null  object
 17  annual_income          37138 non-null  float64
 18  dti                    37138 non-null  float64
 19  installment            37138 non-null  float64
 20  int_rate               37138 non-null  float64
 21  loan_amount            37138 non-null  int64
 22  total_acc              37138 non-null  int64
 23  total_payment          37138 non-null  int64
 24  Loan_Tenure_years      37138 non-null  int32
dtypes: float64(4), int32(1), int64(5), object(15)
memory usage: 7.2+ MB

In [75]:
df["issue_date"] = pd.to_datetime(df["issue_date"], format='%d-%m-%Y')

In [77]:
df["issue_date"].isnull().sum()

0

In [79]:
df["last_credit_pull_date"] = pd.to_datetime(df["last_credit_pull_date"] , format='%d-%m-%Y')

In [80]:
df["last_payment_date"] = pd.to_datetime(df["last_payment_date"] , format='%d-%m-%Y')

In [82]:
df["last_credit_pull_date"].isnull().sum()

0

In [83]:
df["last_payment_date"].isnull().sum()

0

In [84]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4

In [85]:
df["term"].unique()

array([' 60 months', ' 36 months'], dtype=object)

In [86]:
df["term"].nunique()

2

In [87]:
df["term"].isnull().sum()

0

In [95]:
df["Loan_Month"] = df["term"].apply(lambda x: x.split()[0])

In [94]:
df["term"].apply(lambda x: x.split()[0])

0        60
1        36
2        36
3        60
4        36
         ..
38571    60
38572    60
38573    60
38574    60
38575    60
Name: term, Length: 37138, dtype: object

In [96]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [99]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment', 'Loan_Tenure_years', 'Loan_Month'],
      dtype='object')

In [100]:
df['loan_status'].unique()

array(['Charged Off', 'Fully Paid', 'Current'], dtype=object)

In [102]:
df['loan_status'].isnull().sum()

0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37138 entries, 0 to 38575
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     37138 non-null  int64
 1   address_state          37138 non-null  object
 2   application_type       37138 non-null  object
 3   emp_length             37138 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  37138 non-null  object
 6   home_ownership         37138 non-null  object
 7   issue_date             37138 non-null  datetime64[ns]
 8   last_credit_pull_date  37138 non-null  datetime64[ns]
 9   last_payment_date      37138 non-null  datetime64[ns]
 10  loan_status            37138 non-null  object
 11  next_payment_date      37138 non-null  datetime64[ns]
 12  member_id              37138 non-null  int64
 13  purpose                37138 non-null  object
 14  sub_grade              37138 non-null  object
 15  term                   37138 non-null  object
 16  verification_status    37138 non-null  object
 17  annual_income          37138 non-null  float64
 18  dti                    37138 non-null  float64
 19  installment            37138 non-null  float64
 20  int_rate               37138 non-null  float64
 21  loan_amount            37138 non-null  int64
 22  total_acc              37138 non-null  int64
 23  total_payment          37138 non-null  int64
 24  Loan_Tenure_years      37138 non-null  int32
 25  Loan_Month             37138 non-null  object
dtypes: datetime64[ns](4), float64(4), int32(1), int64(5), object(12)
memory usage: 7.5+ MB

In [105]:
df["next_payment_date"] = pd.to_datetime(df["next_payment_date"] , format='%d-%m-%Y')

In [110]:
df["purpose"].unique()

array(['car', 'credit card', 'Debt consolidation', 'educational',
       'home improvement', 'house', 'major purchase', 'medical', 'moving',
       'other', 'renewable_energy', 'small business', 'vacation',
       'wedding'], dtype=object)

In [112]:
df["sub_grade"].unique()

array(['C4', 'E1', 'C5', 'B2', 'A1', 'C3', 'C2', 'A4', 'A5', 'B5', 'B4',
       'B3', 'B1', 'A2', 'A3', 'D4', 'D2', 'C1', 'D3', 'D1', 'E3', 'F1',
       'E2', 'E5', 'D5', 'E4', 'F2', 'G3', 'F3', 'G1', 'F4', 'G4', 'G2',
       'F5', 'G5'], dtype=object)

In [115]:
df["verification_status"].unique()

array(['Source Verified', 'Not Verified', 'Verified'], dtype=object)

In [116]:
df["verification_status"].isnull().sum()

0

In [117]:
df[df["verification_status"]=='Source Verified']

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
7,1066424,PA,INDIVIDUAL,10 years,SCI Mahanoy,A,OWN,2021-06-11,2021-07-14,2021-07-14,...,Source Verified,59000.0,0.0665,172.10,0.0790,5500,23,6172,10,36
15,1060995,RI,INDIVIDUAL,1 year,HSA-UWC,B,RENT,2021-12-11,2021-02-14,2021-10-13,...,Source Verified,60000.0,0.0630,400.99,0.1242,12000,14,9547,1,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38566,1007647,VA,INDIVIDUAL,1 year,"Ebert & Baumann Consulting Engineers, In",C,RENT,2021-11-11,2021-05-16,2021-05-16,...,Source Verified,72000.0,0.0117,345.08,0.1349,15000,7,18588,1,60
38567,1020423,GA,INDIVIDUAL,1 year,Triton Digital,D,RENT,2021-11-11,2021-05-16,2021-05-16,...,Source Verified,43500.0,0.0041,164.99,0.1727,6600,9,8890,1,60
38568,792945,IL,INDIVIDUAL,3 years,Intertek,E,RENT,2021-06-11,2021-05-16,2021-05-16,...,Source Verified,57040.5,0.0496,512.13,0.1839,20000,20,29702,3,60
38569,844956,VA,INDIVIDUAL,2 years,SAIC,G,RENT,2021-08-11,2021-05-16,2021-05-16,...,Source Verified,150000.0,0.0888,113.50,0.2211,4100,29,6463,2,60
38570,841271,CT,INDIVIDUAL,1 year,Travelers,D,MORTGAGE,2021-08-11,2021-04-16,2021-05-16,...,Source Verified,56000.0,0.1200,291.76,0.1599,12000,18,16587,1,60

In [118]:
df[df["verification_status"]=='Verified']

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
6,1067441,TX,INDIVIDUAL,10 years,American Airlines,C,MORTGAGE,2021-11-19,2021-06-14,2021-12-13,...,Verified,94800.0,0.2453,205.86,0.1427,6000,30,7218,10,36
8,1065254,FL,INDIVIDUAL,10 years,Tech Data Corp,A,MORTGAGE,2021-09-02,2021-06-15,2021-10-12,...,Verified,116400.0,0.0394,762.08,0.0890,24000,31,8650,10,36
16,1046507,TX,INDIVIDUAL,1 year,Child's Day,B,RENT,2021-12-02,2021-04-16,2021-12-14,...,Verified,16800.0,0.0350,98.29,0.0991,3050,8,3538,1,36
18,1059497,FL,INDIVIDUAL,10 years,Sandestin Beach Hilton,B,MORTGAGE,2021-12-12,2021-12-14,2021-12-14,...,Verified,35000.0,0.1392,162.87,0.1065,5000,23,5863,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [119]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment', 'Loan_Tenure_years', 'Loan_Month'],
      dtype='object')

In [121]:
df['annual_income'].describe()

count    3.713800e+04
mean     6.927908e+04
std      6.423341e+04
min      4.000000e+03
25%      4.160000e+04
50%      6.000000e+04
75%      8.300000e+04
max      6.000000e+06
Name: annual_income, dtype: float64

In [126]:
df['dti'].describe()

count    37138.000000
mean         0.133966
std          0.066529
min          0.000000
25%          0.083100
50%          0.135000
75%          0.186500
max          0.299900
Name: dti, dtype: float64

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37138 entries, 0 to 38575
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     37138 non-null  int64
 1   address_state          37138 non-null  object
 2   application_type       37138 non-null  object
 3   emp_length             37138 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  37138 non-null  object
 6   home_ownership         37138 non-null  object
 7   issue_date             37138 non-null  datetime64[ns]
 8   last_credit_pull_date  37138 non-null  datetime64[ns]
 9   last_payment_date      37138 non-null  datetime64[ns]
 10  loan_status            37138 non-null  object
 11  next_payment_date      37138 non-null  datetime64[ns]
 12  member_id              37138 non-null  int64
 13  purpose                37138 non-null  object
 14  sub_grade              37138 non-null  object
 15  term                   37138 non-null  object
 16  verification_status    37138 non-null  object
 17  annual_income          37138 non-null  float64
 18  dti                    37138 non-null  float64
 19  installment            37138 non-null  float64
 20  int_rate               37138 non-null  float64
 21  loan_amount            37138 non-null  int64
 22  total_acc              37138 non-null  int64
 23  total_payment          37138 non-null  int64
 24  Loan_Tenure_years      37138 non-null  int32
 25  Loan_Month             37138 non-null  object
dtypes: datetime64[ns](4), float64(4), int32(1), int64(5), object(12)
memory usage: 7.5+ MB

In [129]:
df["installment"].describe()

count    37138.000000
mean       326.025746
std        207.432894
min         16.080000
25%        168.677500
50%        283.280000
75%        431.845000
max       1305.190000
Name: installment, dtype: float64

In [130]:
df.rename(columns = {"installment":"installment_amount"},inplace=True)

In [131]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [132]:
df["int_rate"].describe()

count    37138.000000
mean         0.120540
std          0.037169
min          0.054200
25%          0.093200
50%          0.118600
75%          0.145900
max          0.244000
Name: int_rate, dtype: float64

In [133]:
df["loan_amount"].describe()

count    37138.000000
mean     11279.596370
std       7418.277857
min        500.000000
25%       5600.000000
50%      10000.000000
75%      15000.000000
max      35000.000000
Name: loan_amount, dtype: float64

In [134]:
df["total_acc"].describe()

count    37138.000000
mean        22.180704
std         11.386043
min          2.000000
25%         14.000000
50%         21.000000
75%         29.000000
max         90.000000
Name: total_acc, dtype: float64

In [135]:
df["total_payment"].describe()

count    37138.000000
mean     12267.320588
std       9017.266703
min         34.000000
25%       5657.000000
50%      10072.000000
75%      16652.000000
max      58564.000000
Name: total_payment, dtype: float64

In [ ]:
df.to_excel("Loan.xlsx")

In [136]:
df

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,1 year,Joseph M Sanzari Company,C,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,...,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,2021-10-11,2021-04-16,2021-05-16,...,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,2021-09-11,2021-05-16,2021-05-16,...,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,2021-10-11,2021-05-16,2021-05-16,...,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,2021-07-11,2021-05-16,2021-05-16,...,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [138]:
df.columns

Index(['id', 'address_state', 'application_type', 'emp_length', 'emp_title',
       'grade', 'home_ownership', 'issue_date', 'last_credit_pull_date',
       'last_payment_date', 'loan_status', 'next_payment_date', 'member_id',
       'purpose', 'sub_grade', 'term', 'verification_status', 'annual_income',
       'dti', 'installment_amount', 'int_rate', 'loan_amount', 'total_acc',
       'total_payment', 'Loan_Tenure_years', 'Loan_Month'],
      dtype='object')

In [139]:
df["purpose"]

0            car
1            car
2            car
3            car
4            car
          ...
38571    wedding
38572    wedding
38573    wedding
38574    wedding
38575    wedding
Name: purpose, Length: 37138, dtype: object

In [140]:
df["member_id"]

0        1314167
1        1288686
2        1304116
3        1272024
4        1302971
          ...
38571     992381
38572    1192039
38573    1089898
38574    1194971
38575     872217
Name: member_id, Length: 37138, dtype: int64

In [142]:
df.drop(columns=['id','member_id','application_type','sub_grade','grade',])
# Set maximum number of columns to display
pd.set_option('display.max_columns', 30)

In [143]:
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,member_id,purpose,sub_grade,term,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,1077430,GA,INDIVIDUAL,1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,Charged Off,2021-05-13,1314167,car,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,1288686,car,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,Charged Off,2021-02-09,1304116,car,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
3,1041756,TX,INDIVIDUAL,1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,Fully Paid,2021-04-12,1272024,car,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,1068350,IL,INDIVIDUAL,10 years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,1302971,car,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36

In [145]:
df.drop(columns=['id','member_id','application_type','sub_grade','grade'],inplace=True)

In [146]:
df

,address_state,emp_length,emp_title,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,GA,1 year,Ryder,RENT,2021-02-11,2021-09-13,2021-04-13,Charged Off,2021-05-13,car,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
1,CA,9 years,MKC Accounting,RENT,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
2,CA,4 years,Chemat Technology Inc,RENT,2021-01-05,2021-12-12,2021-01-09,Charged Off,2021-02-09,car,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
3,TX,1 year,barnes distribution,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,Fully Paid,2021-04-12,car,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,IL,10 years,J&J Steel Inc,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,NJ,1 year,Joseph M Sanzari Company,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,NY,8 years,Swat Fame,RENT,2021-10-11,2021-04-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,CA,5 years,Anaheim Regional Medical Center,RENT,2021-09-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,NY,5 years,Brooklyn Radiology,RENT,2021-10-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,NY,4 years,Allen Edmonds,RENT,2021-07-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [147]:
df.to_excel("Loan.xlsx")

In [148]:
df.shape

(37138, 21)

In [149]:
df["emp_length"].value_counts()

emp_length
10 years    8527
1 year      7316
2 years     4267
3 years     3975
4 years     3350
5 years     3168
6 years     2157
7 years     1721
8 years     1432
9 years     1225
Name: count, dtype: int64

In [150]:
df["home_ownership"].value_counts()

home_ownership
RENT        17859
MORTGAGE    16542
OWN          2641
OTHER          96
Name: count, dtype: int64

In [151]:
df['loan_status'].value_counts()

loan_status
Fully Paid     31005
Charged Off     5067
Current         1066
Name: count, dtype: int64

In [152]:
df["total_acc"].value_counts()

total_acc
17    1366
15    1362
16    1361
14    1357
20    1350
      ...
78       1
72       1
81       1
76       1
73       1
Name: count, Length: 80, dtype: int64

In [153]:
df1 =  pd.read_csv("financial_loan.csv")

In [154]:
df1

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,member_id,purpose,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,1314167,car,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,1288686,car,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,Charged Off,09-02-2021,1304116,car,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,Fully Paid,12-04-2021,1272024,car,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,1302971,car,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,992381,wedding,C1,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,Current,16-06-2021,1192039,wedding,C1,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,Current,16-06-2021,1089898,wedding,D5,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,Current,16-06-2021,1194971,wedding,D5,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,872217,wedding,F3,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679

In [159]:
df1.drop(columns = ["emp_title","id","application_type","grade","sub_grade","member_id","total_acc"],inplace=True)

In [160]:
df1.columns

Index(['address_state', 'emp_length', 'home_ownership', 'issue_date',
       'last_credit_pull_date', 'last_payment_date', 'loan_status',
       'next_payment_date', 'purpose', 'term', 'verification_status',
       'annual_income', 'dti', 'installment', 'int_rate', 'loan_amount',
       'total_payment'],
      dtype='object')

In [161]:
df1

,address_state,emp_length,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_payment
0,GA,< 1 year,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,car,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,1009
1,CA,9 years,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,3939
2,CA,4 years,RENT,05-01-2021,12-12-2021,09-01-2021,Charged Off,09-02-2021,car,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,3522
3,TX,< 1 year,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,Fully Paid,12-04-2021,car,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,4911
4,IL,10+ years,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,NJ,< 1 year,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,31946
38572,NY,8 years,RENT,11-10-2021,16-04-2021,16-05-2021,Current,16-06-2021,wedding,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,31870
38573,CA,5 years,RENT,11-09-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,35721
38574,NY,5 years,RENT,11-10-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,33677
38575,NY,4 years,RENT,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,27679

In [162]:
df1["emp_length"] = df1["emp_length"].replace('< 1 year','1 year')
df1["emp_length"] = df1["emp_length"].replace('10+ years','10 years')

In [163]:
df1["Loan_Tenure_years"] = df1["emp_length"].apply(lambda x: x.split()[0]).astype(int)

In [164]:
df1["home_ownership"] = df1["home_ownership"].replace('NONE','RENT')

In [165]:
df1["issue_date"] = pd.to_datetime(df1["issue_date"], format='%d-%m-%Y')

In [166]:
df1["last_payment_date"] = pd.to_datetime(df1["last_payment_date"] , format='%d-%m-%Y')

In [167]:
df1["last_credit_pull_date"] = pd.to_datetime(df1["last_credit_pull_date"] , format='%d-%m-%Y')

In [171]:
df1["Loan_Month"] = df1["term"].apply(lambda x: x.split()[0]).astype(int)

In [169]:
df1["next_payment_date"] = pd.to_datetime(df1["next_payment_date"] , format='%d-%m-%Y')

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   address_state          38576 non-null  object
 1   emp_length             38576 non-null  object
 2   home_ownership         38576 non-null  object
 3   issue_date             38576 non-null  datetime64[ns]
 4   last_credit_pull_date  38576 non-null  datetime64[ns]
 5   last_payment_date      38576 non-null  datetime64[ns]
 6   loan_status            38576 non-null  object
 7   next_payment_date      38576 non-null  datetime64[ns]
 8   purpose                38576 non-null  object
 9   term                   38576 non-null  object
 10  verification_status    38576 non-null  object
 11  annual_income          38576 non-null  float64
 12  dti                    38576 non-null  float64
 13  installment            38576 non-null  float64
 14  int_rate               38576 non-null  float64
 15  loan_amount            38576 non-null  int64
 16  total_payment          38576 non-null  int64
 17  Loan_Tenure_years      38576 non-null  int32
 18  Loan_Month             38576 non-null  int32
dtypes: datetime64[ns](4), float64(4), int32(2), int64(2), object(7)
memory usage: 5.3+ MB

In [173]:
df1.to_excel("Loan1.xlsx")

In [174]:
df1.head()

,address_state,emp_length,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_payment,Loan_Tenure_years,Loan_Month
0,GA,1 year,RENT,2021-02-11,2021-09-13,2021-04-13,Charged Off,2021-05-13,car,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,1009,1,60
1,CA,9 years,RENT,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,3939,9,36
2,CA,4 years,RENT,2021-01-05,2021-12-12,2021-01-09,Charged Off,2021-02-09,car,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,3522,4,36
3,TX,1 year,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,Fully Paid,2021-04-12,car,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,4911,1,60
4,IL,10 years,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,3835,10,36

In [175]:
df2 = pd.read_csv("financial_loan.csv")

In [176]:
df2

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,member_id,purpose,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,1314167,car,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,1288686,car,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,05-01-2021,12-12-2021,09-01-2021,Charged Off,09-02-2021,1304116,car,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,Fully Paid,12-04-2021,1272024,car,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,1302971,car,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,803452,NJ,INDIVIDUAL,< 1 year,Joseph M Sanzari Company,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,992381,wedding,C1,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946
38572,970377,NY,INDIVIDUAL,8 years,Swat Fame,C,RENT,11-10-2021,16-04-2021,16-05-2021,Current,16-06-2021,1192039,wedding,C1,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870
38573,875376,CA,INDIVIDUAL,5 years,Anaheim Regional Medical Center,D,RENT,11-09-2021,16-05-2021,16-05-2021,Current,16-06-2021,1089898,wedding,D5,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721
38574,972997,NY,INDIVIDUAL,5 years,Brooklyn Radiology,D,RENT,11-10-2021,16-05-2021,16-05-2021,Current,16-06-2021,1194971,wedding,D5,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677
38575,682952,NY,INDIVIDUAL,4 years,Allen Edmonds,F,RENT,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,872217,wedding,F3,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679

In [177]:
df2["emp_length"].value_counts()

emp_length
10+ years    8870
< 1 year     4575
2 years      4382
3 years      4088
4 years      3428
5 years      3273
1 year       3229
6 years      2228
7 years      1772
8 years      1476
9 years      1255
Name: count, dtype: int64

In [179]:
df1.columns

Index(['address_state', 'emp_length', 'home_ownership', 'issue_date',
       'last_credit_pull_date', 'last_payment_date', 'loan_status',
       'next_payment_date', 'purpose', 'term', 'verification_status',
       'annual_income', 'dti', 'installment', 'int_rate', 'loan_amount',
       'total_payment', 'Loan_Tenure_years', 'Loan_Month'],
      dtype='object')

In [180]:
df["loan_status"].unique()

array(['Charged Off', 'Fully Paid', 'Current'], dtype=object)

In [183]:
df[df["loan_status"]=="Charged Off"]

,address_state,emp_length,emp_title,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
0,GA,1 year,Ryder,RENT,2021-02-11,2021-09-13,2021-04-13,Charged Off,2021-05-13,car,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009,1,60
2,CA,4 years,Chemat Technology Inc,RENT,2021-01-05,2021-12-12,2021-01-09,Charged Off,2021-02-09,car,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522,4,36
8,FL,10 years,Tech Data Corp,MORTGAGE,2021-09-02,2021-06-15,2021-10-12,Charged Off,2021-11-12,car,36 months,Verified,116400.0,0.0394,762.08,0.0890,24000,31,8650,10,36
11,CA,3 years,myrvpartsplace.com,RENT,2021-09-11,2021-03-13,2021-10-12,Charged Off,2021-11-12,car,36 months,Not Verified,75000.0,0.2288,374.26,0.1242,11200,13,4225,3,36
15,RI,1 year,HSA-UWC,RENT,2021-12-11,2021-02-14,2021-10-13,Charged Off,2021-11-13,car,36 months,Source Verified,60000.0,0.0630,400.99,0.1242,12000,14,9547,1,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38488,MA,2 years,The Danvers Butchery,RENT,2021-05-10,2021-09-15,2021-05-12,Charged Off,2021-06-12,wedding,60 months,Verified,16000.0,0.1001,116.91,0.1607,4800,5,2807,2,60
38489,NJ,2 years,Vericrest Financial Inc,RENT,2021-11-10,2021-05-14,2021-01-14,Charged Off,2021-02-14,wedding,60 months,Verified,72000.0,0.1372,289.09,0.1557,12000,25,11022,2,60
38490,MA,10 years,Wendys OFH of New York Inc,RENT,2021-07-10,2021-07-13,2021-03-13,Charged Off,2021-04-13,wedding,60 months,Verified,45000.0,0.0256,368.37,0.1645,15000,10,11582,10,60
38491,PA,2 years,Williams Residential,RENT,2021-03-11,2021-04-12,2021-12-11,Charged Off,2022-01-11,wedding,60 months,Verified,70000.0,0.0864,858.59,0.1640,35000,39,8667,2,60
38492,CA,10 years,Hayward Unified School District,RENT,2021-06-11,2021-05-12,2021-01-12,Charged Off,2021-02-12,wedding,60 months,Verified,56000.0,0.1307,266.34,0.2025,10000,20,2135,10,60

In [182]:
df[df["loan_status"]=="Fully Paid"]

,address_state,emp_length,emp_title,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
1,CA,9 years,MKC Accounting,RENT,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939,9,36
3,TX,1 year,barnes distribution,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,Fully Paid,2021-04-12,car,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911,1,60
4,IL,10 years,J&J Steel Inc,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,Fully Paid,2021-02-15,car,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835,10,36
5,CA,3 years,Studio 94 Corp,RENT,2021-07-17,2021-03-16,2021-08-12,Fully Paid,2021-09-12,car,36 months,Not Verified,28000.0,0.1260,275.96,0.1465,8000,11,8637,3,36
6,TX,10 years,American Airlines,MORTGAGE,2021-11-19,2021-06-14,2021-12-13,Fully Paid,2022-01-13,car,36 months,Verified,94800.0,0.2453,205.86,0.1427,6000,30,7218,10,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38553,GA,4 years,PILOT OIL,RENT,2021-05-11,2021-09-12,2021-09-12,Fully Paid,2021-10-12,wedding,60 months,Verified,70000.0,0.1809,436.11,0.2136,16000,5,19966,4,60
38554,NY,2 years,Guardian Life Insurance Company,RENT,2021-02-11,2021-10-12,2021-09-12,Fully Paid,2021-10-12,wedding,60 months,Verified,100000.0,0.1517,269.70,0.2085,10000,22,12986,2,60
38555,CA,4 years,Advantage IT,RENT,2021-03-11,2021-09-13,2021-08-13,Fully Paid,2021-09-13,wedding,60 months,Verified,85000.0,0.1392,424.89,0.2011,16000,12,22820,4,60
38556,GA,10 years,us postal service,RENT,2021-08-10,2021-12-10,2021-11-10,Fully Paid,2021-12-10,wedding,60 months,Verified,48000.0,0.1175,65.97,0.1149,3000,18,3085,10,60
38557,MD,2 years,T.Rowe Price,RENT,2021-09-10,2021-10-15,2021-10-15,Fully Paid,2021-11-15,wedding,60 months,Verified,52000.0,0.2206,73.19,0.1323,3200,33,4391,2,60

In [185]:
df[df["loan_status"]=="Current"]

,address_state,emp_length,emp_title,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,term,verification_status,annual_income,dti,installment_amount,int_rate,loan_amount,total_acc,total_payment,Loan_Tenure_years,Loan_Month
1448,GA,7 years,Golden Bell Management,MORTGAGE,2021-09-11,2021-05-16,2021-05-16,Current,2021-06-16,car,60 months,Not Verified,70800.0,0.0778,153.84,0.0849,7500,32,8604,7,60
1449,NV,10 years,Veoila Transportation,MORTGAGE,2021-08-11,2021-05-16,2021-05-16,Current,2021-06-16,car,60 months,Not Verified,48000.0,0.1910,208.18,0.0999,9800,25,11855,10,60
1450,MA,10 years,atlantic express,MORTGAGE,2021-07-11,2021-04-16,2021-05-16,Current,2021-06-16,car,60 months,Not Verified,53280.0,0.0784,301.54,0.1059,14000,14,17438,10,60
1451,KS,2 years,Topeka Ear Nose & Throat,MORTGAGE,2021-09-11,2021-05-16,2021-05-16,Current,2021-06-16,car,60 months,Not Verified,33360.0,0.0180,116.31,0.1059,5400,26,6483,2,60
1452,NC,2 years,Hoist and Crane Systems Inc,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,Current,2021-06-16,car,60 months,Not Verified,53640.0,0.1911,130.43,0.1099,6000,22,7417,2,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,NJ,1 year,Joseph M Sanzari Company,MORTGAGE,2021-07-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,100000.0,0.1986,551.64,0.1299,24250,33,31946,1,60
38572,NY,8 years,Swat Fame,RENT,2021-10-11,2021-04-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,50000.0,0.0458,579.72,0.1349,25200,18,31870,8,60
38573,CA,5 years,Anaheim Regional Medical Center,RENT,2021-09-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,65000.0,0.1734,627.93,0.1749,25000,20,35721,5,60
38574,NY,5 years,Brooklyn Radiology,RENT,2021-10-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,368000.0,0.0009,612.72,0.1825,24000,9,33677,5,60
38575,NY,4 years,Allen Edmonds,RENT,2021-07-11,2021-05-16,2021-05-16,Current,2021-06-16,wedding,60 months,Verified,80000.0,0.0600,486.86,0.2099,18000,7,27679,4,60

In [186]:
df2.shape

(38576, 24)